Screen {
    layout: grid;
    grid-size: 3 2;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr;
}

.label {
    height: 3;
    content-align: center middle;
    margin: 1 1;
}

#switch {
    height: 100%;
    width: 100%;
    align: center middle;
    border: solid whitesmoke;
    column-span: 2;
}

.controls {
    height: auto;
    width: auto;
    align: center middle;
}

.inputs {
    column-span: 2;
    height: 100%;
    border: solid whitesmoke;
    content-align: center middle
}

.entry {
    width: 120%;
    height: auto;
    margin: 0 1;
    align: center middle
}

.button {
    width: auto;
    height: auto;
    margin: 0 1;
    content-align: center middle;
}

#colors {
    layout: grid;
    grid-size: 13;
    width: 1fr;
    height: 100%;
}

.swatch {
    height: 100%;
    content-align: center middle;
    text-style: bold;
}

.pallete {
    height: 100%;
    column-span: 2;
    border: solid whitesmoke
}

.box {
    height: 100%;
    border: solid whitesmoke;
    content-align: center middle
}