Screen {
    layout: grid;
    grid-size: 3 2;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr;
}

.label {
    content-align: center middle
}

.control_widgets {
    width: 1fr;
    height: 100%;
    border: yellow;
    content-align: center middle;
}

#controls {
    column-span: 2;
    height: 100%;
    border: solid whitesmoke;
}

#inputs {
    border: dashed;
    height: 100%;
}

#inputs>Static {
    width: auto;
    height: 100%;
    margin-right: 1;
}

#switch {
    height: 100%;
    width: 100%;
    align: center middle;
    border: solid whitesmoke;
    column-span: 2;
}

#colors {
    layout: grid;
    grid-size: 13;
    width: 1fr;
    height: 100%;
}

.swatch {
    height: 100%;
    content-align: center middle;
    text-style: bold;
}

.pallete {
    height: 100%;
    column-span: 2;
    border: solid whitesmoke
}

.box {
    height: 100%;
    border: solid whitesmoke;
    content-align: center middle
}