Screen {
    layout: grid;
    grid-size: 3 2;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 0.7fr;
}

.label {
    content-align: center middle;
    text-style: bold
}

.control_widgets {
    width: 1fr;
    height: 100%;
    border: yellow;
    content-align: center middle;
}

#controls {
    column-span: 2;
    height: 100%;
    border: solid whitesmoke;
}

.inputs {
    width: 1fr;
    height: 1fr;
    content-align: center middle;
    border: none;
}

.button {
    width: 1fr;
    height: 1fr;
    content-align: center middle
}

#switch {
    height: 100%;
    width: 100%;
    align: center middle;
    border: solid whitesmoke;
    column-span: 2;
}

#colors {
    layout: grid;
    grid-size: 13;
    width: 1fr;
    height: 90%;
}

.swatch {
    height: 100%;
    content-align: center middle;
    text-style: bold;
}

.pallete {
    height: 100%;
    column-span: 2;
    border: solid whitesmoke
}

.box {
    height: 100%;
    border: solid whitesmoke;
    content-align: center middle
}